body {
    font-family: 'Barlow', 'Lato', 'Raleway', sans-serif;
    color: #262626;
    background-color: #F2E5D5;
}

div.main-container {
    background-color: white;
    padding-inline: 20px;
    float: left;
    margin-top: 75px;
    width: 85%;
    padding-bottom: 20px;
}

div.facts-container{
    background-color: white;
    float: left;
    margin-top: 75px;
    width: 100%;
    padding-bottom: 20px;
}

.nav-container {
    float: left;
    width: 10%;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Barlow', 'Lato', 'Raleway', sans-serif;
}

ul.navbar li {
    background: #D97A43;
    padding: 1em;
    border-bottom: 1px solid white;
}

ul.navbar a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #F2B749;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}

#Miguel {
    width: 15%;
    height: auto;
    float: left;
    margin-right: 8px;
}

#first-sentence {
    color: #D97A43;
    font-weight: bold;
}

table {
    width: 100%;
    line-height: 32px;
}

tr:nth-child(odd) {
    background-color: #9CD3D9;
    line-height: 32px;
}
