body {
    font-family: 'Barlow', 'Lato', 'Raleway', sans-serif;
    color: #262626;
    background-color: #F2E5D5;
}

header {
    background-color: #D97A43;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 94px auto;
  }

div.main-container {
    background-color: white;
    width: auto;
    padding-left: 8em;
    padding-top: 2em;
    padding-bottom: 2em;
}
  
h1 {
    font-family: 'Barlow', 'Lato', 'Raleway', sans-serif;
    font-weight: 400;
  }
  
#navbar {
    overflow: hidden;
    background-color: rgba(217, 122, 67, 0.9);
    border-bottom: solid 15px #9CD3D9;
  }
  
#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#navbar a:hover {
    background-color: #F2B749;
    color: white;
  }
  

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #F2B749;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}

.about-me-container {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 1em;
}

#first-paragraph {
    margin-block-start: 0;
}

#Miguel {
    width: 300px;
    height: auto;
}

#first-sentence {
    color: #262626;
    font-weight: bold;
}

table {
    width: auto;
    line-height: 32px;
}

tr:nth-child(odd) {
    background-color: #F2B749;
    line-height: 32px;
}
