body {
    font-family: 'Barlow', 'Lato', 'Raleway', sans-serif;
    color: #262626;
    background-color: #F2E5D5;
}

div.main-container {
    background-color: white;
    padding-inline: 20px;
    float: left;
    margin-top: 75px;
    width: 85%;
    padding-bottom: 20px;
}

.hobby-gallery {
    display: grid;
    grid-template-columns: 400px 480px;
}

h3{
    background-color: #9CD3D9; 
    padding: 5px; 
    border: 1px solid #9CD3D9;
}

figure {
    margin: 0 0;
}

figure img {
    height: 400px;
    width: auto;
}

div.hobby-gallery p {
    margin-top: 68px;
    text-align: justify;
}

.nav-container {
    float: left;
    width: 10%;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Barlow', 'Lato', 'Raleway', sans-serif;
}

ul.navbar li {
    background: #D97A43;
    padding: 1em;
    border-bottom: 1px solid white;
}

ul.navbar a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #F2B749;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}